<h2>Add post</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">userid</label>
    <input type="text"
            class="form-control"
            id="userid"
            name = "userid"
            required
            [(ngModel)] = "user.userid">
  </div>
  <div class="form-group">
    <label for="id">id</label>
    <input type="int"
            class="form-control"
            id="id"
            name = "id"
            required
            [(ngModel)] = "user.id">
  </div>
   <div class="form-group">
    <label for="title">title</label>
    <input type="text"
            class="form-control"
            id="title"
            name = "title"
            required
            [(ngModel)] = "user.title">
  </div>
   <div class="form-group">
    <label for="body">body</label>
    <input type="text"
            class="form-control"
            id="body"
            name = "body"
            required
            [(ngModel)] = "user.body">
  </div>

       

  <button type="submit" class="btn btn-primary" >Submit</button>
</form>