<h1>
  {{title}}
</h1>
<nav>
 <a routerLink="/users" routerLinkActive="active" >Users</a> | 
  <a routerLink="/posts" >Posts</a>
</nav>
<!--<jce-users></jce-users>-->
<router-outlet></router-outlet>
<!-- Routed views go here -->
<!--<app-posts></app-posts>-->
<app-demo></app-demo>
