  <span *ngIf = "!isEdit" >UserId : {{post.userId}}, Id: {{post.id}},Title: {{post.title}} Body: {{post.body}}</span>
  <span *ngIf = "isEdit" >
  UserId : <input type="text" [(ngModel)] = "post.userId"> 
  Id: <input type="text" [(ngModel)] = "post.id">
  Title:: <input type="text" [(ngModel)] = "post.title">
  Body: <input type="text" [(ngModel)] = "post.body">
  </span>
<!--<button (click) = "sendDelete()" >Delete</button> 
<button (click) = "toggleEdit()" >{{editButtonText}}</button>-->
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 


