   Name: {{user.name}} Email:{{user.email}} Phone {{user.phone}} 
<span *ngIf = "!isEdit" >Name: {{user.name}}, Email {{user.email}},Phone {{user.phone}} </span>
<span *ngIf = "isEdit" >
Name: <input type="text" [(ngModel)] = "user.name"> 
Email: <input type="text" [(ngModel)] = "user.email">
Phone:<input type="text" [(ngModel)] = "user.phone">
</span>
<!--<button (click) = "sendDelete()" >Delete</button> 
<button (click) = "toggleEdit()" >{{editButtonText}}</button>-->
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 
